.css-view-175oi2r.r-flex-13awgt0.r-overflow-1udh08x {
    flex-direction: column-reverse !important;
}

.r-backgroundColor-14sbq61 {
    background-color: black;
    border-top: 1px solid white;
}

#first::after {
    content: "FIRST TAB";
}

#second::after {
    content: "SECOND TAB";
}

#third::after {
    content: "THIRD TAB";
}

#forth::after {
    content: "FORTH TAB";
    color: white;
}